@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", system-ui, sans-serif;
  --font-article: "Lora", serif;
}

@variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply font-sans antialiased bg-stone-50 text-stone-800 transition-colors duration-300;
  }
  
  .dark body {
    @apply bg-[#09090b] text-stone-300;
  }

  ::selection {
    @apply bg-emerald-200 text-emerald-900 dark:bg-emerald-900 dark:text-emerald-100;
  }
}
